# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
build/
dist/
*.egg-info/

# Visual Studio
.vs/

# Environment
venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# Output files
output.txt
all_output.txt

# داده‌ها (اگر نمی‌خواهید روی گیت‌هاب باشند، کامنت را بردارید)
# data/*.csv